@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Droid+Serif|Roboto|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Arimo');

$roboto: 'Roboto', sans-serif;
$marker: 'Permanent Marker', cursive;
$opensans: 'Open Sans', sans-serif;
$arimo: "Arimo", sans-serif;
