/* Coolors Exported Palette - coolors.co/c0b8c4-527254-877871-541b21-160d00 */

/* HSL */
$lightestgrey: hsla(280%, 9%, 75%, 1);
$green: hsla(124%, 16%, 38%, 1);
$darkergreen: hsla(122%, 16%, 32%, 1);
$lightergrey: hsla(19%, 9%, 49%, 1);
$maroon: hsla(354%, 51%, 22%, 1);
$black: hsla(35%, 100%, 4%, 1);

/* RGB */
$lightestgrey: rgba(192, 184, 196, 1);
$green: rgba(82, 114, 84, 1);
$lightergrey: rgba(135, 120, 113, 1);
$maroon: rgba(84, 27, 33, 1);
$black: rgba(22, 13, 0, 1);
