/* Coolors Exported Palette - coolors.co/c0b8c4-527254-877871-541b21-160d00 */

$lightestgrey: hsla(280%, 9%, 75%, 1);
$lightergreen: hsla(126%, 16%, 44%, 1);
$green: hsla(124%, 16%, 38%, 1);
$darkergreen: hsla(122%, 16%, 32%, 1);
$lightergrey: hsla(19%, 9%, 49%, 1);
$steelteal: #50858B;
$black: hsla(35%, 100%, 4%, 1);
