/* Coolors Exported Palette - coolors.co/c0b8c4-527254-877871-541b21-160d00 */

$lightestgrey: #eee;
$lightergreen: hsla(126%, 16%, 44%, 1);
$green: hsla(124%, 16%, 38%, 1);
$darkergreen: hsla(122%, 16%, 32%, 1);
$lightergrey: #c8c8c8;
$steelteal: #50858B;
$black: hsla(35%, 100%, 4%, 1);

$orange: hsla(25%, 83%, 50%, 1);
$lightgrey: hsla(198%, 29%, 87%, 1);
$yellow: hsla(38%, 97%, 56%, 1);
$blue: hsla(194%, 100%, 41%, 1);
$bluegrey: hsla(210%, 29%, 48%, 1);
