.article-form-container {
  width: 1016px;
  min-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 30px;
  align-items: center;
  border: 1px solid $lightergrey;
  border-radius: 9px;
  background: white;
}

.article-form-header {
  width: 100%;
  background: $lightestgrey;
  border-bottom: 1px solid $lightergrey;
  margin-bottom: 15px;
  justify-content: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 25px 10px;
  }
}


#article-edit-form {
  background: $lightestgrey;
  border: 1px solid $lightergrey;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  input, textarea {
    border: solid 1px $lightgrey;
    border-radius: 1px;
    width: auto;
    padding: 3px;
    margin: 5px;
    background: white;
  }

  textarea {
    width: 800px;
    min-height: 50px;
    height: 300px;
  }

  input {
    width: 50%;
    text-align: center;
  }
}
