.article-view {
  width: 1016px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 30px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 9px;
  background: #fff;
  border: 1px solid rgba(119,130,135,.4);
}
.edit-link-container {
  padding: 15px;

  background: lightgrey;
  display:flex;
  flex-direction: row;
  justify-content: center;
  a {
  }
  a:hover {
    color: $black;
    text-decoration: underline;
  }
}

.article-view-header {
  text-align: left;
  h2 {
    text-align: inherit;
  }
  background-color: $lightestgrey;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  span {
    color: #999;
    font-size: 14px;
    name {
      color: #555;
    }
  }
}

.images-container {
  display: flex;
  justify-content: center;
}
.article-images {
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $lightestgrey;
  border-radius: 3px;
  display: inline-block;

  border: 1px solid rgba(0, 0, 0, 0.10);
  li {
    padding: 15px;
  }
}

.article-description {
  padding: 15px 60px;
}

.steps-container {
  .steps {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .step-header {
        position: relative;
        left: 20px;
      }
      .images-container {
        display: flex;
        justify-content: center;
        .step-images {
          margin-left: 2.5%;
          margin-right: 2.5%;
          margin-top: 10px;
          display: inline-block;
          justify-content: center;
          background-color: $lightestgrey;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          white-space: nowrap;
          li {
            padding: 15px;
          }
        }
      }
    }
  }


  .step-body {
    padding: 15px 60px;
    margin-top: 30px;
  }

}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;


  .comments-index-container {
    width: 80%;
  }

  .comments-index {
    .comments-index-item{
      margin-bottom: 10px;
      background-color: $lightestgrey;
      border-top: 1px solid rgba(0, 0, 0, 0.20);
    }
  }

  .comment-info {
    padding: 3px;
    width: 100%;
    background-color: $lightestgrey;
    margin-bottom: 10px;
    .comment-author {
      width: 100%;
      font-weight: bold;
      color: $orange;
    }
    .comment-body {
      padding: 5px;
      white-space: pre-wrap;
    }
    button {
      padding: 3px;
      border-radius: 1px;
      font-size: 12px;
      text-transform: none;
      position: relative;
      left: 92%;
    }
  }

  .comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    textarea {
      width: 100%;
    }
  }


  input {
    padding: 5px 7px;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
    background-color: $orange;
    border-color: #cf6000;
    width: 100px;
  }
  input:hover {
    background-color: #df6902;
    border-color: #c55b00;
  }
}
