// Place all the styles related to the API::Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles-header {
  text-align: left;
  position: relative;
  left: 30px;

}

.articles-index {
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  font-color: $black;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
}


.article-index-item {
  background-color: whitesmoke;
  border: 3px solid $black;
  border-radius: 5px;
  min-height: 300px;
  width: 250px;
  margin: 15px;
  transition: box-shadow 0.3s;
  transition: -moz-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: background-color 0.2s;
}

.article-index-item:hover {
  background-color: lightgrey;
  -moz-box-shadow:    0 2px 4px 0px $black;
  -webkit-box-shadow: 0 2px 4px 0px $black;
  box-shadow:         0 2px 4px 0px $black;
}

.article-info {
  padding: 2px;
  color: $black;
  border-top: 3px solid $black;
  .article-index-title {
    font-weight: bold;
  }
}

.article-info:hover {
  color: $black;
}


.article-thumbnail {
  width: 250px;
  height: 250px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.article-thumbnail:hover {
  font-color: $black;
}
