.article-view {
  max-width: 80vw;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
  top: 30px;
  justify-content: center;
  border: 5px solid $black;
  border-radius: 15px;
  font-family: 'Droid Serif', serif;
  background: whitesmoke;
}
.edit-link-container {
  padding: 15px;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  background: lightgrey;
  display:flex;
  flex-direction: row;
  justify-content: center;
  a {
    font-family: 'Permanent Marker', cursive;
  }
  a:hover {
    color: $black;
    text-decoration: underline;
  }
}

.article-view-header {
  text-align: left;
  h2 {
    text-align: inherit;
  }
  background-color: lightgrey;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid $black;
  padding: 15px;
}

.article-images {
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgrey;
  border: 1px solid $black;
  border-radius: 3px;
  li {
    height: 300px;
    width: 300px;
    padding: 5px;
  }
}

.article-description {
  padding: 15px;
  font-family: 'Droid Serif', serif;
}

.steps-container {
  font-family: 'Droid Serif', serif;

  .step-header {
    position: relative;
    left: 20px;
  }

  .step-images {
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 3px;
    li {
      height: 300px;
      width: 300px;
      padding: 5px;
    }
  }

  .step-body {
    padding: 15px;
  }

}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;


  .comments-index-container {
    width: 80%;
  }

  .comments-index {
    .comments-index-item{
      margin-bottom: 10px;
      background-color: lightgrey;
    }
  }

  .comment-info {
    width: 100%;
    background-color: lightgrey;
    margin-bottom: 10px;
    .comment-author {
      width: 100%;
      font-weight: bold;
      border-bottom: 1px solid $lightestgrey;
      font-family: sans-serif;
    }
    .comment-body {
      padding: 5px;
      white-space: pre-wrap;
    }
    button {
      padding: 1px;
      border-radius: 3px;
      font-size: 12px;
      text-transform: none;
      position: relative;
      left: 91%;
      font-family: 'Open Sans';
    }
  }

  .comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    textarea {
      width: 100%;
    }
  }


  input {
    padding: 5px 7px;
    font-size: 14px;
    border-radius: 10px;
    transition: background-color 0.3s;
    text-align: center;
    background-color: $lightergreen;
    border: 2px solid $black;
    font-family: 'Permanent Marker', cursive;
    width: 100px;
  }
  input:hover {
    background-color: $darkergreen;
  }
}
