// Place all the styles related to the API::Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles-index-container {
  background-color: white;
  padding: 26px 0;
  margin: 26px 0;
  display: flex;
  justify-content: center;
}

.articles-header {
  text-align: left;
  position: relative;
  left: 30px;

}

.articles-index {
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  color: $black;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
}


.article-index-item {
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.10);
  min-height: 300px;
  width: 306px;
  margin: 13px 26px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15)
}

.article-index-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.20);
}

.article-info {
  padding: 2px;
  color: $black;
  font-size: 14px;
  height: 50px;
  font-weight: lighter;
}
.article-index-title {
  font-size: 16px;
  font-weight: 800;
}

.article-info:hover {
  color: $black;
}


.article-thumbnail {
  overflow: hidden;
  height: 255px;
  width: 306px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  object-fit: cover;
}

.article-thumbnail:hover {
  font-color: $black;
}

.dummy-thumbnail {
  object-fit: scale-down;
  background: white;
}
