  .auth-form-container {
      position: absolute;
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 40px;
      border: 1px solid #ccc;
      background: #fff;
      overflow: auto;
      border-radius: 4px;
      outline: none;
      padding: 20px;

      button, #auth-form-submit {

      }

      #form-toggle {
        color: blue;
        transition: text-direction 0.3s;
        background-color: transparent;
        padding: 0;
        font-weight: normal;
        text-transform: none;
        margin: auto;
      }

      #form-toggle:hover {
        text-decoration: underline;
      }
  }
