.splash-container {
  font-family: $comingsoon;
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  top: 50px;
  align-items: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;

  background: url('http://res.cloudinary.com/liftables/image/upload/v1490382397/background_ruydfp.jpg') no-repeat center center;
  background-size: cover;
  .welcome {
    margin-top: 50px;
    h1 {
      text-align: center;
      font-size: 40px;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }
  .welcome {
    color: #fff;
    h1 {
      font-family: $marker;
      font-size: 65px;
    }
  }
  .splash-nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 25px;
    .search-bar {
      margin-left: 10px;
      form {

        .search-input {
          background: none;
          color: white;
          border-radius: 0;
          border: none;
          border-bottom: 2px solid white;
          font-size: 20px;
          font-family: $arimo;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
        }
        .search-input::-webkit-input-placeholder {
          color: transparent;
          text-shadow: 0 0 0 0;
        }
        .search-input::-moz-placeholder {
          color: transparent;
          text-shadow: 0 0 0 0;
        }
        .search-submit {
          font-size: 25px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          background: none;
          border: none;
        }
      }
    }
  }
}
