.splash-container {
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  top: 50px;
  align-items: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;

  background: url('http://res.cloudinary.com/liftables/image/upload/v1490382397/background_ruydfp.jpg') no-repeat center center;
  background-size: cover;
  padding: 10px;
  .welcome {
    h1 {
      text-align: center;
      font-size: 40px;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }
  .welcome {
    color: #fff;
    h1 {
      font-family: $marker;
      font-size: 65px;
    }
  }
  .splash-nav {
    margin-top: 50px;
    a {
      text-decoration: underline;
    }
  }
}
