

main{
  #main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #logo-name {
      font-family: 'Permanent Marker', cursive;
      font-size: 32px;
      font-weight: normal;
    }

    #logo {
      width: 65px;
      height: 65px;
    }

    .left-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .right-nav {
      button {
        
      }
    }
  }

}
