.search-bar {
  margin-left: 2vw;
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Coming Soon';
    font-size: 14px;
    .search-input {
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      text-align: left;
      border: 1px solid $black;
    }
    .search-submit {
      width: 50px;
      margin: 0;
      border: 1px solid $black;
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background: $lightergreen;
      font-family: 'Permanent Marker';
    }
    .search-submit:hover {
      background: $darkergreen;
    }
  }
}
